@model HomeVm

@foreach (var course in Model.Courses)
{
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="single-course">
			<div class="course-img">
				<a asp-action="coursedetail" asp-controller="course" asp-route-detailUrl="@course.Id">
					<img src="img/course/@course.SmallImage" alt="course">
					<div class="course-hover">
						<i class="fa fa-link"></i>
					</div>
				</a>
			</div>
			<div class="course-content">
				<h3><a href="course-details.html">@course.Name</a></h3>
				<p>@course.Desc.Substring(0, 50)</p>
				<a class="default-btn" asp-action="coursedetail" asp-controller="course" asp-route-detailUrl="@course.Id">read more</a>
			</div>
		</div>
	</div>

}