@model HomeVm


@foreach (var Event in Model.Events)
{
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="single-event mb-35">
            <div class="event-img">
                <a asp-action="eventdetails" asp-controller="event" asp-route-detailId="@Event.Id"><img src="~/img/event/@Event.SmallImagePath" alt="event"></a>
            </div>
            <div class="event-content text-left">
                <h3>20 June 2017</h3>
                <h4><a href="event-details.html">ADVANCE PHP WORKSHOP</a></h4>
                <ul>
                    <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                    <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                </ul>
                <div class="event-content-right">
                    <a class="default-btn" href="event-details.html">join now</a>
                </div>
            </div>
        </div>
    </div>
}
